
@font-face {
  font-family: Vazir;
  src: url("../node_modules/vazir-font/dist/Vazir-Thin.eot");
  src: url("../node_modules/vazir-font/dist/Vazir-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/vazir-font/dist/Vazir-Thin.woff2") format("woff2"),
    url("../node_modules/vazir-font/dist/Vazir-Thin.woff") format("woff"),
    url("../node_modules/vazir-font/dist/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
* {
  font-family: "Vazir";
}
